

::placeholder{
    color: grey;
    font-size: 30;
}

.checkbox{
    background-color: aqua;
}

#register:hover{
    color: #150E28;
}
button:hover{
    background-color: #150358;
}
a:hover{
    color: purple;
    text-decoration: none;
    /* color: #903AFF; */
}
a{
    text-decoration: none;
    color: white;
}
.img {
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}
/* Dropdown Button */
  .dropbtn {
    
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: relative;
    
    min-width: 230px;
    box-shadow: 8px 8px 16px 8px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 224px;
    height:17px;
    margin-left: -220px;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #903AFF;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {
    display:block;
    
}

#reg::before {
  content: "";
  position: absolute;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
  border-radius: 4px;
  background-color: #150E28;
  z-index: -1;
  transition: 200ms
}
#reg::after {
  content: attr(data);
  font-size: 16px;
  background: linear-gradient(to left, #9A39FF, #FF29B9);
 -webkit-background-clip: text;
  color: transparent;
  transition: 200ms
}

.thirteen{
  opacity: 0;
  transform: translateY(150px);
  /* transform: translateY(-50px); */
  animation: moveup  linear alternate forwards;
  animation-duration: 3.9s;
}

.anim{
  opacity: 0;
  transform: translateY(30px);
  animation: moveup 0.9s linear forwards;
}
input{
  color: white;
}
html{
  margin: auto;
  width: 100%;
  height: 100%;
  max-width: 1060px;
  position: relative;
}
select {
  color: white;
  width: 263.5px;
height: 17px;  
  border: 1px solid white;
  border-radius: 4px;
  background-color: #150288;
}
option{
  color: whitesmoke;
  background-color: #150E28;
}
@keyframes moveup{
  100%{
      opacity: 1;
      transform: translateY(0px);
  }
}

#reg {
  padding: 20px 60px;
  border: none;
  outline: none;
  position: relative;
  border-radius: 5px;
  background: linear-gradient(to right, #9A39FF, #FF29B9);
  cursor: pointer;
  z-index: 1;
}

#reg:hover::before {
  opacity: 50%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
#reg:hover::after{
  color: #150E28;
}